@use 'base/reset';

@use 'components/animaciones';
@use 'components/divisores';
@use 'components/feature-cards';
@use 'components/gifs';
@use 'components/loading-screen';
@use 'components/mute-button';

@use 'layout/header';
@use 'layout/main';
@use 'layout/footer';
@use 'layout/media-queries';

@use 'utilities/variables';