@media (max-width: 992px) {
  .retro-navbar { gap: 0.5rem; }
  #photos-grid { margin: 0; }
  .sidebar { width: 100%; }
  .sidebar-title { display: none; }
  .divisor-stamps2 a:first-of-type { display: none ; }

  .blog-wrapper {
    display: flex;
    flex-direction: column;
  }

  .list-unstyled {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 3rem;
  }

  .sidebar li {
  border-top: none;
  padding: .5rem;
  }
}

@media (max-width: 768px) {
  .page-frame2 {
    display: flex;
    flex-direction: column;
  }
  .third-section {
    width: 100%;
    padding: 1rem;
  }
  .fourth-section {
    width: 100%;
    max-width: 100%;
  }

  .header-img { display: none; }
  .divisor-stamps a { display: none; }
  .mute-button { display: none; }
  .texto-header { text-wrap: nowrap; }
  .active { overflow: hidden; }
  .divisor-stamps2 a { display: none ; }

  .retro-navbar {
    display: flex;
    gap: 0;
    font-size: 14px;
    flex-wrap: nowrap;
  }

  .record-card,
  .recent-blog-list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .list-unstyled {
    gap: 0 1rem;
  }

  .page-frame {
    min-width: 450px;
  }

}

@media (max-width: 630px) {
  .retro-navbar {
    flex-wrap: wrap;
  }
}

@media (max-width: 570px) {
  .moon-left, .moon-right {
    display: none;
  }

  .page-frame {
    width: 100%;
    margin-top: 0;
  }

  .texto-header {
    margin-top: .5rem;
  }

  .retro-navbar {
    padding: .5rem 0;
  }

  .divisor2 {
    font-size: 16px;
  }

  .page-frame2 {
    width: 100%;
  }

  .third-section-inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .fourth-section {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .blog-fragments {

    width: 70%;
  }

  .fragment-log {
    display: none;
  }

  .img-coming {
    min-width: 450px;
  }

  .coming-wrapper {
    margin-top: 5rem;
  }

  .list-unstyled {
    gap: 0 2rem;
  }

}