@use "../utilities/variables" as *;


@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin bordered-box($type: $border1, $radius: 8px) {
  border: $type;
  border-radius: $radius
}

@mixin textured-bg($color, $image, $blend: multiply, $size: 100%) {
  background-color: $color;
  background-image: url($image);
  background-blend-mode: $blend;
  background-size: $size;
}