$bg-color1: #141414;
$bg-color2: rgba(14, 14, 14, 0.85);

$border1: 1px solid #3a3a3a;
$border2: 1px solid #2b2b2b;

$fuente-pixel: 'VT323', monospace;
$fuente-gotica: 'MS UI Gothic', 'Share Tech Mono', sans-serif;
$fuente-alt: 'Courier New', monospace;